@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");



:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }


*,
::after,
::before
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family: var(--ff-primary);
    background: rgba(34, 34, 34, 0.447);
    width:100%;
    height: 100%;
   

}

h1{
   letter-spacing: var(--spacing);
   text-transform: capitalize;
   line-height: 1.25;
   margin-bottom: 0.75rem;
   font-family: var(--ff-primary);
   font-size: 3rem;
 
   
}
h1{
    position: relative;
    text-align: center;
    margin: auto;
    color:var(--clr-white);
    height: 0;

}
header{
    min-height: 100vh;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    
        

    
    
  
}
header::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
    
}
.video-container{
    position: absolute;
    right:0;
    bottom:0;
    object-fit: cover;
    z-index: -2;
   background-position: center right;
   

}
.switch-btn{
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.314), 0px 0px 1px ;
  
}
.switch-btn span{
    padding: 15px;
    font-size: 0.85rem;
    display: inline-block;
    color:rgb(0, 191, 255);
    cursor: pointer;
    text-transform: capitalize;
}
.switch{
    position: absolute;
    width: 50%;
    height: 100%;
    top:0;
    left:0;
    background: var(--clr-primary-5);
    border-radius: 10px;
    margin: 0;
    display: block;
    transition: .5s;
    overflow: hidden;
}
.switch::before{
    position: absolute;
    content:'';
    background: radial-gradient( white,rgb(219, 237, 243));
    width: 50%;
    height: 100%;
    top:0;
  
    transform: skewX(45deg) translateX(-300%);

    
    transition:.5s;
}
.switch:hover::before{
    
    transform: skewX(45deg) translateX(300%);

}
.active .switch{
    left:50%;
    transition: .5s;
}
.preloader{
    position: fixed;  
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: var(--clr-white);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: 10s;
}
.hide-preloader{
    z-index: -999;
    visibility: hidden;
}