@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
   
}
header{
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7));
  background: url(../srsorataro_city_moon.png)  no-repeat;
  background-size: cover;
  background-position: center;

  
}
.menu{
  position: absolute;
  display: none;
  border-top: 2px solid;
  width: 30px;
  left:47.5%;
  top:2%;
  color: black;
  cursor: pointer;
}
.menu::after, .menu::before{
  display: block;
  content: '';
  height: 2px;
  width:30px;
  margin-top: 6px;
  background: black;
}
.nav-toggle.active .menu{
  border-top:transparent;
  transition: .5s;

  
}
 .nav-toggle.active .menu::after{
  transform: rotate(135deg);
  transition: .5s;
  

}
.nav-toggle.active .menu::before{
  position: absolute;
  top:-.44px;
  transform: rotate(-135deg);
  transition: .5s;

}
.nav-center{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
ul{

  list-style-type: none;
  display: flex;
}
a{
  font-size:1.2rem;
  padding: 2rem;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px black;
  cursor: pointer;
}
a:hover{
  font-weight: 700;
}
.banner{
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  top:50vh;
}
.nav-toggle{
  background: transparent;
  border: transparent;
  cursor: pointer;
}
.scroll-link{
  font-family: var(--ff-primary);
  font-weight: 500;
  padding: .5rem 1rem;
  border: 2px solid;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1rem;
}
.scroll-link:hover{
  background: #fff;
  color:var(--clr-grey-4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.447);
  text-shadow: none;
 
}
.container{
  font-family: var(--ff-secondary);
  text-align: center;
  line-height: 5rem;
  position: relative;
  top:-6rem
}
.container h1{
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 4.5rem;
  color: rgb(228, 227, 255);
  text-shadow: 0px 0px 5px black;
  line-height: 8rem;
}
.container p{
  line-height: 1.3rem;
  text-align: center;
  display: block;
  width: 700px;
}
.links-container{

  position: relative;
  top:.6rem;
  text-transform: capitalize;
}
#sr{
  display: flex;
  position: absolute;
  color:#fff;
  left:2rem;
  font-size: 1.8rem;
  align-items: center;
}
p{
  font-size: 1rem;
  color:#fff;
}
.section{
  display: flex;
  padding: 10rem;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-primary);
  font-size: 1.3rem;
}
#about,
#tours,
#services{
height: 80px;
  text-transform: uppercase;
}
h2{
 position: relative;
 top:-8.5rem;
 font-size: 2.5rem;

}
#about{
 background: var(--clr-grey-9);

}
#tours{
  background: var(--clr-grey-9);

}
 footer{
  width: 100vw;
  padding: .5px;
  background-color: var(--clr-grey-1);
}
footer p {
  font-weight: 200;
  letter-spacing: .2rem;
  font-family: var(--ff-secondary);
  font-size: 1.2rem;
  color:#fff;
  text-transform: capitalize;
}
  .top-link{
    display: flex;
    justify-content: center;

  }
  span{
    color:rgb(98, 218, 237);


  }


@media screen  and (max-width:650px){
  .links-container{
    display: none;
    top:-8vh;
    
    
   
  }
   .container h1{
    font-size: 2.8rem;

  }
  .container.active{
    position: absolute;
    top:-40rem;
  }
  .menu{
    display: block;
  }
  .container p{
    font-family: var(--ff-secondary);
    text-align: center;
    width: 500px;
    font-size: 1rem;
    
    
  }
  .links{
    display: block; 
   
    
  }
  #sr{
    display: none;
    position: relative;
    top:-40vh;
  }

  .nav-center li{
    position: relative;
    font-size: 5rem;  
    top:-5rem;
    left:-3vw;
    margin: auto;
    line-height: 2rem;
    border-bottom: 1px solid rgb(92, 91, 91);
  }
  .links-container.active {
    display: block;
   
   
 
  }
  .nav-center{
    background-color: #fff;
    height: 40px;
    width: 100%;
    transition: .5s;
    overflow:hidden;
  }
  .nav-center.active{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.368);
    transition: .5s;
    overflow: visible;
    
  
  }
  h2{
    position: relative;
    top:-8.8rem;
    font-size: 1.3rem;
  }
  #tours span{
   margin-left: 2px;
   font-size: 1.3rem;
    

  }
  .title{
    text-align: center;
  }
  footer p{
    font-size: .875rem;
   
  }

}