@charset "UTF-8";
/*Estilo para tela*/
*{
    margin:0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: lightgray;
}
header > h1{
    text-align: center;
}
menu ul{
    display: flex;
    list-style-type: none;
    justify-content:center;
    
    
}
ul li{
    margin: 0 15px;
    background: rgb(1, 45, 11);
    border-radius: 10px;
    padding: 10px;
    color:white;
    transition:  2s;

    
}
ul li:hover{
    background: linear-gradient(45deg, rgba(139, 0, 0, 0.132),red,rgba(0, 0, 255, 0.188));
    position: relative;
    top:-5px;
    cursor:pointer
   
}
article{
    width:600px;
    display: block;
    margin: auto;
}