@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,100&display=swap');
*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
nav{
    display:flex;
    height:80px;
    width:100%;
    background-color: #01282e;
    align-items: center;
    justify-content: space-between;
    padding:0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
    color:white;
    font-size: 35px;
    font-weight: 600;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color:#f2f2f2;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    background: #f88f06;
}
nav .menu-btn, i {
    opacity: 0;
    color:#fff;
    cursor: pointer;
    

  
}
@media(max-width:920px){
    nav .menu-btn, i{
        opacity: 100%;
    }
    nav ul{
        position: absolute;
        top: 80px;
        left: -100%;
        background-color: #003840;
        height: 92vh;
        width: 50vw;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        display: block;
        transition: all .3s ease-in;
    }
    nav ul.open{
        left:0;

    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a:hover{
    background: none;
    color:#f88f06;
}
}
