@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --cor1: rgb(228, 239, 251);
    --cor2: rgb(157, 203, 250);
    --cor3: rgb(120, 146, 206);
    --cor4: rgb(92, 138, 213);
    --cor5: rgb(75, 145, 244);
    --cor6: rgb(58, 82, 204);
    --cor7: rgba(38, 63, 121, 0.998);
    --cor8: rgba(4, 64, 132, 0.996);
    --cor9: rgb(11, 11, 94);
    --cor10: rgb(24, 21, 75);
}
*{
    border:0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    
    
}

