@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 html, body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgb(195, 228, 214),white);




}
#banner{
 width:100%;  
 height: 250px;
}
   
article{
    background:  linear-gradient(to bottom, white, rgba(220, 66, 66, 0.797), white);
    display: block;
    width: 800px;
    height: 500px;
    box-shadow: 0px 0px 15px rgba(149, 7, 0, 0.516);
    position:relative;
    border-radius: 5px;
    padding: 15px;
    transition: .5s;
    text-shadow: 0px 0px 15px rgb(9, 64, 242);
   
    
   
}
article:hover{
    text-shadow: 0px 0px 15px rgb(249, 25, 5);
    box-shadow: 0px 0px 15px rgba(4, 125, 195, 0.598);
    background:  linear-gradient(to bottom,white, rgba(24, 168, 246, 0.582), white);

}
article:active{
    text-shadow: 0px 0px 15px rgb(118, 9, 242);
    background:  linear-gradient(to bottom,rgb(255, 255, 255), rgb(226, 245, 19), white);
    box-shadow: 0px 0px 15px rgba(209, 250, 5, 0.587);
    transition: .5s;

}
body > article{ 
    
   text-align: center;
   position: relative;
   margin: auto;
   line-height: 2rem;
 

}
p{
    text-indent: 50px;
    font-size: 1.1rem;
   
    
}
span{
    display: block;
    width:150px;
    height: 2px;
    background: linear-gradient(to left, rgb(255, 253, 253), rgb(248, 150, 2),  rgb(225, 82, 233), rgb(3, 15, 108));
   position: relative;
   margin: auto;
   margin-bottom: 15px;
   transition: .5s;
   cursor: pointer;
   
}

 span:hover{
    width:250px;
    

}
#Bar{
    transition: .5s ease;
    cursor: pointer;
}
#Bar:hover{
    font-size: 1.25rem;
    position: relative;
    top:-5px;
    text-shadow:  0px 0px 15px rgb(251, 239, 5);
    background: radial-gradient(white,rgba(231, 71, 231, 0.314));
    border-radius: 5px;

}
#c:hover{
color: red;
}
ul{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5%;
}
.item{
   font-style: italic;
  
 
}


#container{
    padding: 20px; 
}
.titulo-center{
    text-align: center;
    padding: 10px;
}
#bene{
    position: relative;
  
    width: 50%;
}