@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body, html{
    width:100vw;
    height: 100vh;
}

header{
    width:100vw;
    height: 100px;
    background: radial-gradient(rgb(169, 164, 164),rgb(111, 110, 110));
}
 h1{position: relative;
    text-align: center;
    margin: auto;
    top:-1rem;
    
}

ul{
  position: relative;
   display: flex;
    top:1.6rem;
    gap:.5rem;
    
}
li{
    
    width:85px;
    height:35px;
    border-radius: 5px;
    position: relative;
    background: rgb(77, 75, 75);
    cursor: pointer;
    top:-1.5rem;
}
a{
    position: relative;
    left:13px;
    top:6px;
    color:white
  
}
li:hover{
    background: rgb(157, 151, 151);
}
main{
    width: 100vw;
    height: 120vh;
    background: rgba(0, 0, 0, 0.323);
    background-size: cover;

}
article{
    position: absolute;
   border-radius: 10px;
    display: block;
    width:80vw;
    height: 70vh;
    background: white;
    position: relative;
    margin:auto;
    top:.3rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.388), -2px -1px 3px rgba(0, 0, 0, 0.302);
    padding: 15px;
 
}
h2{
    font-family: Open Sans;
    font-size: 1.9rem;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.3rem;
    font-size: 1rem;
    margin: 15px 0px;
}

button{
    border: none;
    background: transparent;
    position: relative;
    left:89vw;
    cursor: pointer;


}

.btn-f{
    display: none;
    border-top: 2px solid;
    width:30px;
    position: relative;
    top:2rem;
    color:white;
    
    
   
}
.btn-f::after,.btn-f::before{
    content: '';
    display: block;
    border-top: 2px solid;
    width:30px;
    margin-top: 6px;
}
@media(max-width:841px){
    article{
         height: 90vh;

    }
    ul{
        display: none;
        
        

    }
    
    .btn-f{
        position: absolute;
        display: block;
        top:-.9vh;
        left:-42vw;
        z-index: 10;

    }
   
   


    .cab{
        display: block;
        width:100vw;
        height: 40px;
        background: black;
        position: absolute;
        top:10vh;
    }
   
  h1{
    top:.5vh;
  }
   ul.active{
    display:block;
    position: relative;
    left:44vw;
    z-index: 1;
    

   }
   .btn-menu.active .btn-f{

    border-top: none;
   }
   .btn-menu.active .btn-f::after{
    position: relative;
    transform:  rotate(-135deg);
    top:-6.5px;
    transition: .3s;
    

   }
   .btn-menu.active .btn-f::before{
    transform:  rotate(135deg);
    transition: .3s;
}
   li{
    display: flex;
    width:150vh;
    height:35px;
    border-radius: 5px;
    position: relative;
    background: rgb(77, 75, 75);
    cursor: pointer;
    top:6vh;
    left:-49vw;
    border-bottom:2px solid rgb(85, 83, 83) ;
    justify-content: space-between;
    align-items: center;
    
    
   }
   a{
    left:50vw;
   }
}
@media(max-width:630px){
    article{
         height: 100vh;

    }
   
}
@media(max-width:541px){
    article{
         height: 115vh;

    }
   
}