@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

   
 body{
    font-family: Arial, Helvetica, sans-serif;
    background:radial-gradient(rgb(244, 255, 252),rgb(255, 255, 255));

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
   
    background: linear-gradient(to bottom, rgb(246, 227, 255),rgb(250, 250, 250), rgb(174, 155, 226))
   
}
header #alura{
    width:80px;

}

 nav ul{
   
    display: flex;
    list-style-type: none;
   
}
li{
    display: flex;
    margin-right: 15px;
}
 a{
    color:rgb(23, 38, 81);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
 }
 a:hover{
    font-size: 30px;
    font-weight: bolder;
    color:rgb(50, 4, 135);
    
 }
 footer{
    display: block;
    text-align: center;
    background: url('../image/bg.jpg');
   
    color: white;

    

 }
 .im{
    padding:20px;
 }
 main{
    width:940px;
    margin: 0 auto;
 }
 form{
    margin:40px 0;
 }
 form label{
    display: block;
    font-size: 20px;
    margin: 0 0  10px;
 }
 form input{
    display:block;
    margin:  0 0 20px;
    padding: 10px 25px;
    width: 50%;
 }