@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
body{
  background: linear-gradient( 195deg, rgb(59, 0, 136),rgb(28, 1, 75), rgb(57, 2, 116), rgb(70, 2, 119), rgb(32, 15, 40));
  min-height: 200vh;

}
header{
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .6s;
  padding:40px 100px;
  background: rgba(0, 0, 0, 0.332);
  width:100%;
}
header .logo{
  position: relative;
  font-weight:  700;
  color:#fff;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition:  .6s;

}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
header ul li{
  position: relative;

}

header ul li a{
  position: relative;
  margin: 0 35px;
  color:rgb(255, 254, 254);
  letter-spacing: 2px;
  font-weight: 500px;
  transition: .6s;
}
 header ul li {
 
  position: relative;
  left: 12rem;
}
header ul li a:hover{
  color: rgb(133, 0, 0);
}
header.sticky{
  padding: 5px 100px;
  background: #fff;
}
header.sticky .logo,
header.sticky ul li a{
  color:black;

}
#btn-mobile{
  position: absolute;
  display: none;
  left: 25rem;
  color: white;
  
}
@media(max-width:750px){


   #menu{ 
    display: block;
    position: absolute;
    width:100%;
    top:70px;
    right: 0;
    height: 98vh;
    line-height: 50px;
    background: rgb(1, 0, 0);
    font-size: 1.5em;
   visibility: hidden;
   overflow-y: hidden;
    z-index:1000;
    
   
  }
  .logo{
    display: none;
  }

  #nav.active #menu{
    height:  calc(100vh -70px);
   overflow-y: auto;
    visibility:visible;
    
  }
  
  #menu a{
    padding: .5rem 0;
    margin:0 .5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  #btn-mobile{
   display: flex;
   padding: .5rem 1rem;
   font-size:  1rem;
   border:none;
   background: none;
   cursor: pointer;
   gap:.5rem;
  }

  #hamburgue{

    width:20px;
    border-top: 2px solid;
  }
  #hamburgue::after,#hamburgue::before{
    content: '';
    display: block;
    width:20px;
    height: 2px;
    border-top: 2px solid;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #hamburgue.active{
    border-top-color: transparent;
  }
  #hamburgue.active::before{
    transform: rotate(135deg);

  }
   #hamburgue.active::after{
    transform: rotate(-135deg);
    top: -7px;



}

}