.populares{
    padding:3rem 0;
}
.populares__conteudo{
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding:1rem 0;
}
.populares__card{
    display: grid;
    grid-template-areas: 
    "card-imagem"
    "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    background: #fdfdfd;
    width: calc(20% - 1rem);
    margin-right: 1rem;
    padding:.5rem;
    
}
.populares__card___imagem{
    grid-area: card-imagem;
    height: 100%;
    width:100%;
}
.populares__card___corpo{
    display: grid;
    grid-area: card-corpo;
    grid-template-areas: 
    "card-cabecalho"
    "card-conteudo";
    grid-template-rows: 50px auto;
   gap:.5rem;
    padding:.75rem;
}